<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sharpotify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sharpotify.Properties.Settings>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>892, 596</value>
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value>.\Downloads</value>
            </setting>
            <setting name="DownloadMask" serializeAs="String">
                <value>%artist% - %track%</value>
            </setting>
            <setting name="DownloadFormat" serializeAs="String">
                <value>mp3, ogg</value>
            </setting>
            <setting name="DownloadCommand" serializeAs="String">
                <value>.\Temp\ffmpeg.exe</value>
            </setting>
            <setting name="DownloadArguments" serializeAs="String">
                <value>-i %source% -ab 192k -ac 2 %result%</value>
            </setting>
            <setting name="AllowDownloads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionsNumber" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Autologin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </Sharpotify.Properties.Settings>
    </userSettings>
</configuration>